@import 'src/app/styles/core/variables';

.change-address {
    width: 994px;
    height: 665px;
    left: 0px;
    top: 0px;

    background-image: "/assets/images/bg-full-home.svg";
    box-shadow: 3px 5px 15px #CBCBCB;
    border-radius: 20px;
}