

    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">

          
       

          
            <div class="reset-form" [class.success]="isEmailResetSuccessful"    >
              <form [formGroup]="form" novalidate (ngSubmit)="onSubmit()">
                <div class="inner-container">  
                  <h1>Welcome to <span>Toke</span></h1>
   


                  <ng-container *ngIf="isEmailResetSuccessful"> 
                    <h2>Success!</h2> 

                    <div class="desc">
                        A reset password link has been sent to {{f.email.value}}.
                    </div>

                    <div class="desc">
                       Follow the instructions in the email to reset your password
                  </div>
                  
                    <div>
                      <button class="btn btn-small"  onclick="location.href='/auth/login'" >Back to Sign In</button>
                    </div>
                  </ng-container>

 
                          <ng-container *ngIf="!isEmailResetSuccessful"> 
                              <h2>Forgot&nbsp;Password</h2> 

                              <div> 
                                  <div class="desc">Enter your email below to receive a reset password link.</div>

                                    <label>Email</label> 
                                    
                                    <div>
                                      <!-- email -->
                                      <div class="form-group mb-4" [class.is-invalid]="emailInvalid">
                                        <input class="form-control text-input" name="email" 
                                          [class.is-invalid]="emailInvalid"
                                          type="email"
                                          formControlName="email">
                          
                                          <!-- error notifications -->
                                          <div class="invalid-feedback" ngxErrors="email" #emailErrors="ngxErrors">
                                            <span ngxError="required" when="touched">Email is required</span>
                                            <span ngxError="pattern" when="dirty">You must include a valid email address.</span>
                                          </div>
                                      </div>
                                    </div>
                          
                                  
                              </div>
                              
                              <div>
                                <button class="btn btn-small" 
                                [class.transition]="is_button_disabled " 
                                type="submit" [disabled]=" is_button_disabled || form.invalid ">{{button_text}}</button>
                              </div>

                              <div class="footer-links"> 
                                <div><a [routerLink]="['/auth/login']"  >Back to Sign In</a> </div> 
                              </div>  
                      </ng-container>





                </div>

              </form>

            </div>

</div>
</div>
</div> 