<div class="product-compound d-flex">
  <div class="compound-left">
    <div class="compound-terpenes">
      <h6>Tarpenes</h6>
      <ng-container *ngFor="let item of terpenes" >
        <div class="tarpenese-item tarpense-{{ item.color }}">
          {{ item.name  }}
        </div>
      </ng-container>
    </div>
  </div>
  <div class="compound-right">
    <div class="compound-cannabinoids">
      <h6>Cannabinoids</h6>
      <div class="d-flex flex-wrap">
        <ng-container *ngFor="let item of cannabinoids">
          <div class="cann-hover">
            {{ item.name }} {{ item.score }}%
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>
