

    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">

          
       

          
            <div class="reset-form" [class.success]="isEmailResetSuccessful"    >
              <form  novalidate (ngSubmit)="onSubmit()">
                <div class="inner-container">  
                  <h1>Welcome to <span>Toke</span></h1>
   


                  <ng-container *ngIf="isEmailResetSuccessful"> 
                    <h2>Success!</h2> 

                    <div class="desc">
                       Your password has been changed.
                    </div>

                    <div class="desc">
                       You may now signin with your new password.
                  </div>
                  
                    <div>
                      <button class="btn btn-small"  onclick="location.href='/auth/login'" >Back to Sign In</button>
                    </div>
                  </ng-container>

 
                          <ng-container *ngIf="!isEmailResetSuccessful"> 
                              <h2>Reset Password</h2> 

                              <div> 
                                  <div class="desc">Please enter and confirm your new password below.</div>

                                    <label>Your email</label>  
                                      <p>
                                        <input class="form-control text-input" name="email"   [(ngModel)]="email"  >
                                      </p>


                                      <label>New Password</label>  
                                      <p>
                                        <input class="form-control text-input" name="password" type="password"  [(ngModel)]="password"  >
                                      </p>

                                      <p class='password-info'>
                                        8 character or more, including at least one
                                        number and one special character (e.g. !#%)
                                      </p>

                                      <label>Confirm Password</label>  
                                      <p>
                                        <input class="form-control text-input" name="confirm_password" type="password"  [(ngModel)]="confirm_password"  >
                                      </p>

                          
                                  
                              </div>
                              
                              <div>  
                                
                                <button class="btn btn-small"  type="submit" 
                                [class.transition]="is_button_disabled " 
                                [disabled]=" is_button_disabled ">
                                  {{button_text}} 
                                </button>
                              </div>

                              <div class="footer-links"> 
                                <div><a [routerLink]="['/auth/login']"  >Back to Sign In</a> </div> 
                              </div>  
                      </ng-container>





                </div>

              </form>

            </div>

</div>
</div>
</div> 