<svg *ngIf="step === 1" width="388" height="11" viewBox="0 0 388 11" fill="none" xmlns="http://www.w3.org/2000/svg">
    <rect width="116" height="11" rx="5.5" fill="#6E9C36" (click)="clickStep(1)" />
    <rect x="136" width="116" height="11" rx="5.5" fill="#354C1A" fill-opacity="0.2" (click)="clickStep(2)" />
    <rect x="272" width="116" height="11" rx="5.5" fill="#354C1A" fill-opacity="0.2" (click)="clickStep(3)" />
</svg>

    
<svg *ngIf="step === 2" width="388" height="11" viewBox="0 0 388 11" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="116" height="11" rx="5.5" fill="#354C1A" fill-opacity="0.2" (click)="clickStep(1)" />
        <rect x="136" width="116" height="11" rx="5.5" fill="#6E9C36" (click)="clickStep(2)" />
        <rect x="272" width="116" height="11" rx="5.5" fill="#354C1A" fill-opacity="0.2" (click)="clickStep(3)" />
</svg>
        

<svg *ngIf="step === 3" width="388" height="11" viewBox="0 0 388 11" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect width="116" height="11" rx="5.5" fill="#354C1A" fill-opacity="0.2" (click)="clickStep(1)" />
            <rect x="136" width="116" height="11" rx="5.5" fill="#354C1A" fill-opacity="0.2" (click)="clickStep(2)" />
            <rect x="272" width="116" height="11" rx="5.5" fill="#6E9C36" (click)="clickStep(3)"/>
</svg>
            