<div class="inventory full-height">
  <div class="card shadow">
    <div class="card-header d-flex justify-content-between bg-0 border-0">
      <div class="col-md-6">
        <h1>{{ activeDispensary.label }}</h1>
      </div>
      <div class="col-md-6 text-right">
        <div class="d-none d-sm-inline-block form-inline mr-auto my-2 my-md-0 mw-100 navbar-search w-50">
          <div class="input-group">
            <input type="text" class="form-control bg-light border-0 small"
              placeholder="Search for..."
              aria-label="Search"
              aria-describedby="basic-addon2"
              [(ngModel)]="vm.searchText">
            <div class="input-group-append">
              <button class="btn icon" type="button">
                <i class="fas fa-search fa-sm"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card-body pt-0">
      <div class="inventory-list">
        <div class="my-2 table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                <th [ngClass]="column.css" *ngFor="let column of columnNames">
                  {{ column.label }}
                </th>
                <th>Available</th>
                <th></th>
              </tr>
            </thead>
            <tbody *ngIf="inventories">
              <tr class="item-row"
                *ngFor="let item of inventories
                  | searchFilter:vm.searchText
                  | slice: (vm.page - 1) * vm.pageSize : (vm.page - 1) * vm.pageSize + vm.pageSize">
                <td class="item-cell">{{ item.variant.packages[0].package_number }}</td>
                <td class="item-cell">{{ item.variant.packages[0].sku }}</td>
                <td class="item-cell text-capitalize">{{ item.product ? item.product.name : '' }}</td>
                <td class="item-cell">{{ item.product ? item.product.category : '' }}</td>
                <td class="item-cell">
                  {{ item.variant.price | currency:'USD':'$ ':'1.0-2' }}
                  {{ item.variant.unit }}</td>
                <td class="item-cell">
                  <app-custom-numeric [formModel]="item.qty"
                    (onChange)="onQtyChange($event, item)"
                    (isEditing)="onQtyEdits($event, item)"
                    [edit]="item.isEditing"></app-custom-numeric>
                </td>
                <td class="item-cell">{{ item.reserved || 0 }}</td>
                <td class="item-cell">{{ item.qty - (item.reserved || 0) }}</td>
                <td class="item-cell">
                  <button class="btn btn-sm"
                    [class.inverted]="!item.isEditing"
                    (click)="updateInventory(item)">
                    {{ item.isEditing ? 'Save' : 'Edit' }}
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="w-100 d-flex justify-content-end">
          <ngb-pagination *ngIf="inventories"
            [collectionSize]="inventories.length"
            [pageSize]="vm.pageSize"
            [(page)]="vm.page">
          </ngb-pagination>
        </div>
      </div>
    </div>
  </div>
</div>
