<div class="loyalty-heading pb-4">
  <div class="d-flex">
    <div class="page-title">
      Loyalty Management
    </div>
    <div class="action-container">
      <button type="button" class="btn btn-action" (click)="onLoyaltySettings()">
        <img src="../../../../assets/icons/cog.svg" alt="cog">
        <label>Settings</label>
      </button>
    </div>
  </div>
  <div class="d-flex">
    <div class="mr-4">
      <div class="form-group action">
        <input type="text" class="form-control" placeholder="Search">
      </div>
    </div>
    <div>
      <button class="btn loyalty-button mr-4" (click)="onAddLoyalty()">
        <i>
            <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="15" cy="15" r="15" fill="#3A471E"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M16.2255 9.22554C16.2255 8.72129 15.8167 8.3125 15.3125 8.3125C14.8083 8.3125 14.3995 8.72129 14.3995 9.22554V14.3995H9.22554C8.72129 14.3995 8.3125 14.8083 8.3125 15.3125C8.3125 15.8167 8.72129 16.2255 9.22554 16.2255H14.3995V21.3995C14.3995 21.9037 14.8083 22.3125 15.3125 22.3125C15.8167 22.3125 16.2255 21.9037 16.2255 21.3995V16.2255H21.3995C21.9037 16.2255 22.3125 15.8167 22.3125 15.3125C22.3125 14.8083 21.9037 14.3995 21.3995 14.3995H16.2255V9.22554Z" fill="#FBFBFB"/>
            </svg>
        </i>
        Add Loyalty Offer
      </button>
    </div>
  </div>
</div>

<div class="lds-ripple" *ngIf="isLoading" ><div></div><div></div></div>

<div>
  <tabset class="loyalty-tabset">
    <tab heading="Loyalty Offers">
      <app-loyalty-list 
        [loyaltyOffers$]="loyalty$"
        (onUpdate)="onLoyaltyUpdated()"
        ></app-loyalty-list>
    </tab>
    <tab heading="Loyalty Members">
      <app-loyalty-members
        [loyaltyMembers]="loyaltyMembers"
        (memberSelected)="onMemberSelected($event)">
      </app-loyalty-members>
    </tab>
  </tabset>
</div>
